* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: beige;
}
body {
  height: 100vh;
  display: grid;
  place-items: center;
}
.box {
  background-color: aqua;
  width: 900px;
  height: 210px;
  display: flex;
  gap: 5px;
  border: 5px solid red;
  justify-content: start;

  /* align-items: center; */
  flex-flow: row wrap;
}

.box > * {
  background-color: brown;
  color: black;
  height: 100px;
  width: 100px;
  display: grid;
  place-items: center;
}

.item1 {
  /* flex: 1; */
  height: 200px !important;
}

.item2 {
  /* align-self: flex-start;
  flex: 1; */
  height: 195px !important;
}

.item3 {
  /* flex: 1; */
  height: 190px !important;
}
